.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.input-wrapper {
  display: flex;
}

.index-wrapper {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  margin-bottom: 0.5em;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clicks {
  text-align: center;
}

.row a {
  text-decoration: none;
  color: inherit;
}

.row button {
  width: 40%;
}

