* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: azure;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.input-wrapper {
  display: flex;
}

.input-wrapper button {
  margin-left: 1em;
}

.index-wrapper {
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  margin-bottom: 0.5em;
}

.row-wrapper {
  overflow-y: scroll;
  height: 12.5em;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 0.2em;
  margin-left: 0.75em;
}

.clicks {
  text-align: center;
}

.row a {
  text-decoration: none;
  color: inherit;
}

.row button {
  display: flex;
  justify-self: center;
}

input {
  width: 100%;
}

