.App {
  display: flex;
  align-items: center;
}

.index-wrapper {

}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
